.header {
	text-align: center;
	> img {
		position: relative;
		z-index: 1;
		height: 128px;
	}

}

.header:before {
	content: '';
	display: block;
	position: absolute;
	top: 35px;
	left: 0;
	height: 35px;
	width: 100%;
	z-index: 0;
	background-color: $color-yellow;
	border-color: $color-black;
	border-top: solid 3px;
	border-bottom: solid 3px;
}

.header.small {
	text-align: left;
	> img {
		height: 100px;
		margin-top: -20px;
		padding-left: 1.5em;
	}
}

.header.small:before {
	height: 30px;
}

.header.small.headline {
	margin: none;  
	padding: none; 
}

// .mainpage .header{

// }