.home {
	position: relative;

	.headline {
		font-family: 'Sigmar One', sans-serif;
		color: $color-yellow;
		font-size: 4em;
		@include comicText();
	}

	p.headline {
		text-align: center;
		padding-top: 140px;
		padding-bottom: 140px;
		background-image: url("images/roster2.jpg");
		background-size: cover;
		background-position: center center;
		border-top: solid 5px $color-black;
		height: 550px;
		width: 100%;
		margin-top: 20px;
	}

	button.start {
		-webkit-appearance: none;
		border: 0;
		background-color: transparent;
		background-repeat: no-repeat;
		width: 400px;
		height: 150px;
		background-image: url(images/start-button.png);
		background-size: contain;
		position: fixed;
		bottom: 0;
		left: 37.5%;
	}

		button.start:hover {
			bottom: 10px;
			width: 450px;
		}

	
}