.home {
	position: relative;

	.hero-image {
		// background-image: url("images/roster.png");
		// margin: 0;
		// padding: 0;
		// height: 500px;
		// width: 100%;
		// display: block;
		// background-size: cover;
		// background-position: center center;
		// border-top: solid 5px $color-black;
	}

	.headline {
		font-family: 'Sigmar One', sans-serif;
		color: $color-yellow;
		font-size: 4em;
		@include comicText();
	}

	p.headline {
		text-align: center;
		padding-top: 140px;
		padding-bottom: 140px;
		background-image: url("images/roster2.jpg");
		background-size: cover;
		background-position: center center;
		border-top: solid 5px $color-black;
		height: 550px;
		width: 100%;
		margin-top: 20px;
	}

	button.start {
		-webkit-appearance: none;
		border: 0;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: bottom;
		width: 400px;
		height: 150px;
		background-image: url(images/start-button.png);
		background-size: contain;
		position: fixed;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		}

		button.start:hover {
			// bottom: 20px;
			width: 450px;
			height: 250px;
		}

	padding-bottom: 50px;
}