.search {
	padding-top: 2em;
	background-color: $color-yellow;
	margin-top: 3em;
	border: 2px solid $color-black;
}

.search-region {
	padding-top: 1em; 
}

.list-region {
	position: relative; 
	bottom: 20px; 
}

input.starts-with {
	border: 3.5px solid $color-black; 
	// text-align: center; 
	margin-left: 40%; 
	margin-bottom: 1em; 
	height: 2.4em; 
	width: 15em; 
	font-family: 'AnimeAce Bold';
	// font-size:18px; 

}

.search-button {
	border:3.5px solid $color-black; 
	// height: 2.7em; 
	font-family: 'AnimeAce Bold';
	line-height: 1.4em; 
	padding-bottom: 6px; 
	padding-top:4px; 
	opacity:1; 
}

.search-button:hover {
	opacity:.5; 
}

.character-item div {
	font-family: 'AnimeAce Bold';
	font-size:12px; 
	padding-top: 8px; 
	padding-bottom:16px; 
}

.sm-image {
	border:2px solid $color-black; 
}

.sm-image {
	border: 2px solid $color-black;
}