@import '../../lib/normalize';
@import 'vars';
@import 'mixins';
@import 'components/clearfix';
@import 'components/app';
@import 'components/header';
@import 'components/home';
@import 'components/detail';
@import 'components/search';
@import 'components/main';
@import 'components/character-item';
@import 'components/character-list';
@import 'components/battle';
@import 'components/winner';

@font-face {
  font-family: 'Sigmar One';
  src: url('fonts/SigmarOne.ttf');
}

@font-face {
  font-family: 'AnimeAce Regular';
  src: url('fonts/animeace2_reg.otf');
}

@font-face {
  font-family: 'AnimeAce Bold';
  src: url('fonts/animeace2_bld.ttf');
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-color: $color-blue;
}